* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}

.nav-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    margin-top: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.192);
}
.logo{
  width: 200px;
  margin: -50px;
}

.menu i {
  margin-inline: 0.3rem;
}
.logo-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.menu > span {
    border-left: 1px solid black;
    padding-inline: 0.5rem;
    padding-left: 2rem;
    cursor: pointer;
}

.misc-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.lang-element i {
  font-size: medium;
  opacity: 0.8;
  margin-inline: 0.5rem;
  cursor: pointer;
}

.misc-element {
    font-size: x-large;
    display: flex;
    gap: 2rem;
}
.misc-element i {
    cursor: pointer;
    border: none;
    transition: 0.6s;
}
.misc-element i:hover{
  color: #0ea5e9;
  transition: 0.6s;
}

.menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .mega-menu-container {
    display: none; /* Hidden by default */
    position: absolute;
    top: 25px;
    left: -10rem;
    background: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    z-index: 1000;
    padding: 2rem 4rem;
  }
  
  .mega-menu {
    width: calc(33.33% - 10px);
    float: left;
    margin-right: 10px;
    transition: ease-in 3s;
  }
  .mega-menu2 {
    width: calc(33.33% - 10px);
    float: left;
    margin-right: 10px;
    transition: ease-in 3s;
  }
  
  .mega-menu h3 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #333;
  }
  .mega-menu2 h3 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #333;
  }
  
  .mega-menu ul li {
    margin-bottom: 0.3rem;
    list-style: none;
  }
  .mega-menu2 ul li {
    margin-bottom: 0.3rem;
    margin-left: -30px;
    list-style: none;
  }
  
  .mega-menu ul li a {
    font-size: 0.9rem;
    color: #555;
    text-decoration: none;
  }
  .mega-menu2 ul li a {
    font-size: 0.9rem;
    color: #555;
    text-decoration: none;
  }
  
  .mega-menu ul li a:hover {
    font-weight: bold;
    transition: ease-in 0.1s;
  }
  .mega-menu2 ul li a:hover {
    font-weight: bold;
    transition: ease-in 0.1s;
  }


  .menu:hover .mega-menu-container {
    display: block;
  }

  .hframe{
    z-index: 1000;
  }

  /* Home Page */

  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: black;
}

/* Variables */
:root {
  --primary-color: #000000;
  --secondary-color: #64748b;
  --color-impo: #0ea5e9;
  --btn-color: #0f172a;
  --padding: 20px;
}

/* Utility Classes */
a {
  text-decoration: none;
}
h2 {
  font-size: 20px;
}
h1 {
  font-size: 60px;
}
.dark-btn {
  background: #0f172a;
  color: #fff;
  font-size: 18px;
  padding: 20px 60px 20px 25px;
  border: none;
  border-radius: 30px;
}
.dark-btn:hover {
  background: #171717;
}
.main-container {
  width: 95vw !important;
  background: url(./images/hero-img.png) center center no-repeat;
  background-size: cover;
  height: 546px;
  margin-top: 40px;
  border-radius: 15px;
}
.header-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 23px;
  padding-left: 2rem;
}
.header-content h1 {
  font-weight: 800;
}
.btn-content i {
  color: #fff;
  font-size: 20px;
  position: relative;
  right: 50px;
  top: 2px;
}
.btn-content {
  margin-top: 30px;
}
/* icon section */
.icon-section {
  background: url(./images/VectorHIW-B1rTfOGT.svg) no-repeat;
  margin-top: 128px;
  margin-bottom: 122px;
}
.icon-sec {
  width: 240px;
  height: 317px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
@keyframes apper {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
.icon-sec {
  animation: apper linear;
  animation-timeline: view();
  animation-range: entry 0;
}
.icon-sec img {
  max-width: 140px;
  height: auto;
}
.icon-content .step1 {
  background: #fdead9;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 15px;
  color: #c53b4d;
}
.step2 {
  background: #edfad7 !important;
  color: #4e7410 !important;
}
.step4 {
  background: #dcf4f2 !important;
  color: #115e59 !important;
}
.icon-content h4 {
  font-size: 16px;
  padding: 10px 0;
}
.phar {
  color: #475569;
  font-size: 14px;
}
.icon-section {
  display: flex;
  gap: 55px;
}
/* product1 */

#product1 {
  padding-bottom: 128px;
}
.pro-cards {
  display: flex;
  gap: 20px;
  margin-top: 80px;
}
@keyframes apper {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
.pro-card {
  animation: apper linear;
  animation-timeline: view();
  animation-range: entry 0;
}
.main-hea h1 {
  font-size: 36px !important;
  line-height: 40px;
}
.pro-card {
  width: 276px;
  height: 450px;
  position: relative;
}
.light-text {
  color: #737373;
}
.bg-img img {
  width: 274px;
  height: 292px;
  object-fit: cover;
  border-radius: 20px;
  transition: 0.5s;
}
.bg-img img:hover {
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
}
.pro-cards .pev {
  font-size: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.pro-cards .pev:hover {
  background: #333;
  color: #fff;
}
.pro-btn {
  background: #0f172a;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  padding: 8px 15px;
  border-radius: 20px;
}
.hide:hover {
  background: #111829;
  opacity: 1;
  transform: translateY(25px);
}
.btn-con {
  position: absolute;
  bottom: 180px;
  left: 60px;
  transform: translateY(25px);
  transition: 0.6s;
  opacity: 0;
}
.btn-con:hover {
  transform: translate(0);
  opacity: 1;
}
.pro-btn a {
  color: #f8fafc;
}
.colors {
  display: flex;
  gap: 10px;
  padding: 20px 10px;
}
.colors img {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.card-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.card-btn a {
  border: 2px solid #22c55e;
  padding: 5px 10px;
  border-radius: 10px;
  color: #22c55e;
}
.card-tex {
  padding: 0 10px;
}
.card-tex h4 {
  font-size: 16px;
}
.card-tex p {
  color: #96a2ad;
}
.Reviews i {
  color: #ffcf2a;
}
/* Nav and Tabs */
.gap {
  gap: 3rem;
}
.icon {
  font-size: 18px;
  color: #fff;
}

.ul-items .first-item {
  background: #0f172a;
  color: #fff;
  display: flex;
  gap: 5px;
  padding: 10px 25px;
  border-radius: 20px;
}
.ul-items a {
  color: #fff;
  background: #2d374e;
  color: #fff;
  display: flex;
  gap: 5px;
  padding: 10px 25px;
  border-radius: 20px;
}
#products-tabs {
  background: #f7f7f9;
  border-radius: 30px;
  padding: 50px 0;
}
.card-body {
  display: flex;
  gap: 10px;
}
.card-body h4 {
  font-size: 14px;
  color: #333;
}
.card-body i {
  font-size: 15px;
  color: #333;
}
.body-btn {
  color: #333;
  font-size: 14px;
}
.tab-text {
  font-size: 35px;
  padding-bottom: 4rem;
}
.card-ex-1 {
  width: 378px;
}
.experts {
  padding: 80px 0;
}
.expert-card img {
  width: 350px;
  height: 270px;
  object-fit: cover;
  border-radius: 20px;
}
.images {
  display: flex;
  gap: 10px;
  padding: 10px 0;
}
.images img {
  width: 100px;
  height: 100px;
}
.expert-card h1 {
  font-size: 36px;
  margin-bottom: 40px;
}
.exp-content {
  padding-top: 10px;
}
.expert-card {
  display: flex;
}
.experts h1 {
  font-size: 36px;
  padding-bottom: 30px;
}
.offer-sct {
  background: url(./images/Moon-D6wi5d3q.svg);
  background-color: #accfaf;
  border-radius: 20px;
}
.offer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
}
.offer-content h1 {
  font-size: 36px;
}
.offer-content img {
  width: 512px;
}
.offer-content .tex {
  background-color: #f7e6f1;
  color: #b4174d;
  padding: 2px 5px;
  margin-right: 8px;
  border-radius: 20px;
}
.email-el2{
  width: 300px;
}
.email-elspan2{
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.3px solid rgba(128, 128, 128, 0.329);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.email-el2 i{
  cursor: pointer;
  font-size: x-large;
}
.email-el2 input{
  border: none;
  background-color: transparent; 
}
.email-el2 input:focus{
  outline: none;
  background-color: transparent;
}

.trending{
  padding: 30px 5vw;
  margin-top: 5%;
}
.trending p{
  margin-left: 10px;
}
.filters{
  display: flex;
  justify-content: space-between;
}
.filter{
  border: 1px solid black;
  background-color: white;
  padding: 8px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: 0.6s;
}
.filter:hover{
  opacity: 1;
  transition: 0.6s;
}

.filter1{
  display: none;
  position: absolute;
  background-color: white;
  top: 45px;
  border: 0.6px solid rgb(204, 204, 204);
  border-radius: 8px;
  width: 300px;
  padding: 20px;
  z-index: 1000;
  transition: 0.5s;
}
.btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.196);
  padding: 10px 0;
}
.clrbtn{
  border: none;
  background-color: transparent;
}
.apply{
  padding: 5px 10px;
  border-radius: 40px;
  border: none;
  background-color: black;
  color: white;
}
.filter1-1:hover .filter1{
  display: block;
  transition: 0.5s;
}
.filter2{
  display: none;
  position: absolute;
  background-color: white;
  top: 45px;
  border: 0.6px solid rgb(204, 204, 204);
  border-radius: 8px;
  width: 300px;
  padding: 20px;
  z-index: 1000;
  transition: 0.5s;
}
.filter1-2:hover .filter2{
  display: block;
  transition: 0.5s;
}
.filter3{
  display: none;
  position: absolute;
  background-color: white;
  top: 45px;
  border: 0.6px solid rgb(204, 204, 204);
  border-radius: 8px;
  width: 300px;
  padding: 20px;
  z-index: 1000;
  transition: 0.5s;
}
.filter1-3:hover .filter3{
  display: block;
  transition: 0.5s;
}
.filter4{
  display: none;
  position: absolute;
  background-color: white;
  top: 45px;
  border: 0.6px solid rgb(204, 204, 204);
  border-radius: 8px;
  width: 300px;
  padding: 20px;
  z-index: 1000;
  transition: 0.5s;
}
.filter1-4:hover .filter4{
  display: block;
  transition: 0.5s;
}

.filter5{
  display: none;
  position: absolute;
  background-color: white;
  top: 45px;
  border: 0.6px solid rgb(204, 204, 204);
  border-radius: 8px;
  width: 300px;
  padding: 20px;
  z-index: 1000;
  transition: 0.5s;
}
.filter1-5:hover .filter5{
  display: block;
  transition: 0.5s;
}
.filter6{
  display: none;
  position: absolute;
  background-color: white;
  top: 45px;
  right: 0.5rem;
  border: 0.6px solid rgb(204, 204, 204);
  border-radius: 8px;
  width: 300px;
  padding: 20px;
  z-index: 1000;
  transition: all  0.5s;
}
.filter1-6:hover .filter6{
  display: block;
  transition: 0.5s;
}










/* Shop Page */

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth
}



.all-product{
  padding: 0 5vw;
}
.breadcrumb {
  margin-top: 20px;
  margin-left: 2%;
}

div h1{
  font-size: 25px;
  font-weight: bold;
  padding: 5px;
}

.small-logo {
margin-top:10vh;
margin-left: 2%;
display: flex;
align-items: center;
gap: 5px;

}
.bcmb{
  margin-left: 2%;
}
.breadcrumb li{
  display: inline-block;
}
.all-cards{
  padding-top: 60px;



}
.full-card{

  width: 253px;

}


.card {
  width: 250px ;
  height: auto;

}

.card::after {
  content: "Add to bag";

  
  padding-top: 0.25em;
  padding-left: 1.25em;
 
  position: absolute;
  left: 0;
  bottom: 1px;
  background: black;
  color: #fff;
  height: 2.5em;
  width: 100%;
  transition: all 90ms;
  font-weight: 60;
  text-transform: uppercase;
  opacity: 0;
  padding-bottom: 50px;
  behavior: smooth;
 
}

.card:hover::after {
  
  bottom: 0;
  opacity: 1;
}
.card:active {
  transform: scale(0.98);
}

.card:active::after {
  content: "Added !";
  height: 3.125em;
}

/* colors */
.colors img {
  border-radius: 50%;
  margin: 5px;
 
}
.colors img:hover{
  cursor: pointer;
}

/* heading */

.heading{
  margin-top: 15px;

  
}

/* button */

.btn button{
border: solid lightgreen;
color: lightgreen;

}
.btn button:hover{
  border: solid lightgreen;
  color: lightgreen;
  
  
}

.btn img{
  width: 50px;
  margin-left: 30px;



}
.btn span{
  font-size: 10px;
}

.line-1 {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px ;
  
}

.line2{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

.line3{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;
}



.last-button  {
  padding-bottom: 300px;
  padding-top: 30px;
}

.last-button button{
  padding: 30px;
  position: relative;
  left: 500px;
  border-radius: 30px;
  background-color: black;
  color: white;
  
  
}
.last-button button:hover{
  background-color: #fff;
  color: black;
}
.pag{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px;
  padding: 30px;
}
.prev{
  border: 1px solid black;
  padding: 5px 10px;
  margin-right: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.6s;
}
.prev:hover{
  background-color: #000000;
  color: white;
  transform: translateY(-5px);
  transition: 0.6s;
}
.nxt{
  border: 1px solid black;
  padding: 5px 10px;
  margin-right: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.6s;
}
.nxt:hover{
  background-color: #000000;
  color: white;
  transform: translateY(-5px);
  transition: 0.6s;
}
.nmbrs{
  cursor: pointer;
}

/* Footer Section  */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}

/* footer {
  position: absolute;
  bottom: 0;
} */

.containerft {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(4, 1fr);
  padding: 4rem;
  padding-left: 4rem;
  border-block: 0.3px solid rgba(128, 128, 128, 0.329);
}

.menu ul li {
  list-style: none;
  margin-bottom: 0.3rem;
}
.menuft ul li {
  list-style: none;
  margin-bottom: 0.3rem;
  margin-left: -30px;
}
.menu ul li a {
  text-decoration: none;
  color: #555;
}
.menuft ul li a {
  text-decoration: none;
  color: #555;
}
.menu h3 {
  margin-bottom: 0.5rem;
  color: #333;
}
.menuft h3 {
  margin-bottom: 0.5rem;
  color: #333;
}
.menu ul li a:hover {
  font-weight: bold;
  transition: ease-in 0.1s;
}
.menuft ul li a:hover {
  font-weight: bold;
  transition: ease-in 0.1s;
}

.email-title {
  font-size: x-large;
  font-weight: bolder;
  color: #333;
  margin-top: 1.25rem;
}
.email-title i {
  margin-right: 0.5rem;
}
.email-el {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 0.5rem;
}
.email-el span {
  font-size: small;
  color: #555;
}
.email-elspan {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.3px solid rgba(128, 128, 128, 0.329);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.email-el input {
  border: none;
  width: 100%;
}
.email-elspan i {
  cursor: pointer;
  font-size: x-large;
}
.email-el input:focus {
  border: none;
  outline: none;
}

.bottomline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}
.bottomline span {
  font-size: small;
  color: #555;
}
.bottomline i {
  font-size: x-large;
  margin-inline: 4px;
  cursor: pointer;
  transition: 0.6s;
}
.bottomline i:hover{
  color: #0ea5e9;
  transition: 0.6s;
}

/* Single Product Page  */

.single-product-container {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.single-product-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.single-product-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.single-product-details {
  flex: 1;
  padding: 30px;
}

.single-product-breadcrumbs {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.single-product-breadcrumbs a {
  text-decoration: none;
  color: #666;
  transition: 0.5s;
}

.single-product-breadcrumbs a:hover {
  font-weight: bold;
  transition: 0.5s;
}

.single-product-title {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.single-product-price {
  border: 2px solid #22c55e;
  padding: 5px 10px;
  border-radius: 10px;
  color: #22c55e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.single-product-rating {
  font-size: 16px;
  color: black;
  margin: 10px 0;
}

.single-product-options {
  margin-top: 20px;
}

.single-product-options label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.single-product-size-options,
.single-product-color-options {
  display: flex;
  gap: 10px;
}

.single-product-size-option{
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  padding: 10px 20px;
}
.single-product-color-option {
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  padding: 10px;
}

.single-product-size-option.active,
.single-product-color-option.active {
  background-color: #282828;
  color: #fff;
}

.sigle-product-quantity {
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.single-product-quantity button {
  padding: 5px 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  border-radius: 100%;
}
.single-product-quantity button:hover {
  background-color: #e3e3e3;
}

.single-product-quantity input {
  width: 70px;
  border: none;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
}
.single-product-cartbtn{
  display: flex;
  align-items: center;
  gap: 30px;
}

.single-product-add-to-cart {
  background-color: #0c0c0c;
  color: #fff;
  padding: 15px 20px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.single-product-add-to-cart:hover {
  background-color: #0c0c0cdb;
}

.single-product-features {
  margin-top: 20px;
}

.single-product-features h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.single-product-features ul {
  list-style-type: disc;
  padding-left: 20px;
}

.single-product-features ul li {
  margin: 5px 0;
}